<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 "> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Be</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- FONTS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Poppins:100,300,400,400italic,500,700,700italic'>

    <!-- CSS -->
    <link rel='stylesheet' href='../../css/global.css'>
    <link rel='stylesheet' href='css/structure.css'>
    <link rel='stylesheet' href='css/cryptocurrency.css'>
    <link rel='stylesheet' href='css/custom.css'>
	<link rel="stylesheet" href="pstyle.css">

</head>

<body class="color-custom style-simple button-flat layout-full-width if-zoom if-border-hide no-content-padding single-template-builder hide-love no-shadows header-plain header-fw minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-left menu-link-color menuo-right menuo-no-borders mobile-tb-center mobile-side-slide mobile-mini-mr-ll tablet-sticky mobile-header-mini mobile-sticky be-reg-20955">
    <div id="Wrapper">
        <div id="Header_wrapper">
            <header id="Header">
                <div id="Top_bar">
                    <div class="container">
                        <div class="column one">
                            <div class="top_bar_left clearfix">
                                <div class="logo">
                                    <a id="logo" href='{% url 'home' %}' title="BeCryptoCurrency - BeTheme" data-height="60" data-padding="5"><img class="logo-main scale-with-grid" src="images/crypto-logo.png" data-retina="images/crypto-logo-retina.png" data-height="37" alt="crypto logo"><img class="logo-sticky scale-with-grid" src="images/crypto-logo.png" data-retina="images/crypto-logo-retina.png" data-height="37" alt="crypto logo"><img class="logo-mobile scale-with-grid" src="images/crypto-logo.png" data-retina="images/crypto-logo-retina.png" data-height="37" alt="crypto logo"><img class="logo-mobile-sticky scale-with-grid" src="images/crypto-logo.png" data-retina="images/crypto-logo-retina.png" data-height="37" alt="crypto logo"></a>
                                </div>
                                <div class="menu_wrapper">
                                    <nav id="menu">
                                        <ul id="menu-menu" class="menu menu-main">
                                          	<li>
                                                <a href="{% url 'home' %}"><span>Home</span></a>
                                            </li>
                                            <li>
                                                <a href="{% url 'feature' %}"><span>Features</span></a>
                                            </li>
                                            <li>
                                                <a href="{% url 'transact' %}"><span>Buy/Sell</span></a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a>
                                </div>
                            </div>
                            <div class="top_bar_right">
                                <div class="top_bar_right_wrapper">
									<li class="current-menu-item">
                                    <a href="{% url 'secure' %}" class="action_button" target="_blank">Protect now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div id="Content">
            <div class="content_wrapper clearfix">
                <div class="sections_group">
                    <div class="section mcb-section dark bg-cover" style="padding-top:200px; padding-bottom:300px; background-image:url(images/crypto-singlepost-header-bg.png); background-repeat:no-repeat; background-position:center bottom">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix align_center">
                                            <h6 style="color:#99c6ff;">CRYPTOWALLET-PROTECTION</h6>
                                            <hr class="no_line" style="margin:0 auto 20px">
                                            <h1>Click on the icon of you wallet
                                                <br> to protect/secure</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<br>
      <!--crypto-logos section-->



	<div class="row">
	  <div class="column">
		<img src="wallet/1.jpg"alt="Snow" style="width:100px">
		  </div>
	  <div class="column">
		<img src="wallet/2.jpg" alt="Forest" style="width:100px">
		  </div>
	  <div class="column">
		<img src="wallet/3.jpg"alt="Mountains" style="width:100px">
		  </div>
		  <img src="wallet/4.jpg" alt="Snow" style="width:100px">
		  </div>
	  <div class="column">
		<img src="wallet/5.jpg" alt="Forest" style="width:100px">
		  </div>
	  <div class="column">
		<img src="wallet/6.jpg"alt="Mountains" style="width:100px">
		  </div>
	   <div class="column">
		<img src="wallet/7.jpg"alt="Mountains" style="width:100px">
		  </div>
		<div class="column">
		<img src="wallet/8.jpg"alt="Mountains" style="width:100px">
		  </div>
		<div class="column">
		<img src="wallet/9.jpg"alt="Mountains" style="width:100px">
		  </div>
		<div class="column">
		<img src="wallet/10.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/11.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/12.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/13.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/14.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/15.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/16.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/17.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/18.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/19.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/20.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/21.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/22.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/23.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/24.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/25.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/26.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/27.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/28.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/29.jpg"alt="Mountains" style="width:100px">
		  </div>
			  <div class="column">
		<img src="wallet/30.jpg"alt="Snow" style="width:100px">
		  </div>
	  <div class="column">
		<img src="wallet/31.jpg" alt="Forest" style="width:100px">
		  </div>
	  <div class="column">
		<img src="wallet/32.jpg"alt="Mountains" style="width:100px">
		  </div>
		  <img src="wallet/33.jpg" alt="Snow" style="width:100px">
		  </div>
	  <div class="column">
		<img src="wallet/34.jpg" alt="Forest" style="width:100px">
		  </div>
	  <div class="column">
		<img src="wallet/35.jpg"alt="Mountains" style="width:100px">
		  </div>
	   <div class="column">
		<img src="wallet/36.jpg"alt="Mountains" style="width:100px">
		  </div>
		<div class="column">
		<img src="wallet/37.jpg"alt="Mountains" style="width:100px">
		  </div>
		<div class="column">
		<img src="wallet/38.jpg"alt="Mountains" style="width:100px">
		  </div>
		<div class="column">
		<img src="wallet/39.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/40.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/41.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/42.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/43.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/44.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/45.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/46.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/47.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/48.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/49.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/50.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/51.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/52.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/53.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/54.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/55.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/56.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/57.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/58.jpg"alt="Mountains" style="width:100px">
		  </div>
		</div> <div class="column">
		<img src="wallet/59.jpg"alt="Mountains" style="width:100px">
		  </div>
		</div> <div class="column">
		<img src="wallet/60.jpg"alt="Mountains" style="width:100px">
		  </div>
		  </div> <div class="column">
		<img src="wallet/61.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/62.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/63.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/64.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/65.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/66.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/67.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/68.jpg"alt="Mountains" style="width:100px">
		  </div>
		</div> <div class="column">
		<img src="wallet/69.jpg"alt="Mountains" style="width:100px">
		  </div>
		</div> <div class="column">
		<img src="wallet/70.jpg"alt="Mountains" style="width:100px">
		  </div>
		<img src="wallet/71.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/72.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/73.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/74.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/75.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/76.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/77.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/78.jpg"alt="Mountains" style="width:100px">
		  </div>
		</div> <div class="column">
		<img src="wallet/79.jpg"alt="Mountains" style="width:100px">
		  </div>
		</div> <div class="column">
		<img src="wallet/80.jpg"alt="Mountains" style="width:100px">
		  </div>
		<img src="wallet/81.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/82.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/83.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/84.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/85.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/86.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/87.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/88.jpg"alt="Mountains" style="width:100px">
		  </div>
		</div> <div class="column">
		<img src="wallet/89.jpg"alt="Mountains" style="width:100px">
		  </div>
		</div> <div class="column">
		<img src="wallet/90.jpg"alt="Mountains" style="width:100px">
		  </div>
		<img src="wallet/91.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/92.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/93.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/94.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/95.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/96.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/97.jpg"alt="Mountains" style="width:100px">
		  </div> <div class="column">
		<img src="wallet/98.jpg"alt="Mountains" style="width:100px">
		  </div>
		</div> <div class="column">
		<img src="wallet/99.jpg"alt="Mountains" style="width:100px">
		  <div class="column">
		  <img src="wallet/100.jpg"alt="Mountains" style="width:100px">
		  <div class="column">
		<img src="wallet/101.jpg"alt="Snow" style="width:100px">
		  </div>
	  <div class="column">
		<img src="wallet/102.jpg" alt="Forest" style="width:100px">
		  </div>
	  <div class="column">
		<img src="wallet/103.jpg"alt="Mountains" style="width:100px">
		  </div>
		  <img src="wallet/104.jpg" alt="Snow" style="width:100px">
		  </div>
	  <div class="column">
		<img src="wallet/105.jpg" alt="Forest" style="width:100px">
		  </div>
	  <div class="column">
		<img src="wallet/106.jpg"alt="Mountains" style="width:100px">
		  </div>
	   <div class="column">
		<img src="wallet/107.jpg"alt="Mountains" style="width:100px">
		  </div>
	</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

	<!--FOOTER-->


         <footer id="Footer" class="clearfix">
            <div class="widgets_wrapper" style="padding:70px 0;">
                <div class="container">
                    <div class="column one-fourth">
                        <aside class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <hr class="no_line" style="margin:0 auto 10px">
                                <img src="{% static 'content/cryptocurrency/images/favicon2.png' %}" alt="">
                                <hr class="no_line" style="margin:0 auto 20px">
                                <a class="button button_size_2 button_js" href="{% url 'transact' %}" target="_blank" style="background-color:#ffc327 !important; color:#000;"><span class="button_label">View more details</span></a>
                            </div>
                        </aside>
                    </div>
                    <div class="column one-fourth">
                        <aside class="widget_text widget widget_custom_html">
                            <h4>Useful links</h4>
                            <div class="textwidget custom-html-widget">
                                <hr class="no_line" style="margin:0 auto 10px">
                                <ul>
                                    <a href="#">
                                        <li>
                                            <i class="themecolor icon-right-open-mini"></i> Home
                                        </li>
                                    </a>
                                    <a href="#">
                                        <li>
                                            <i class="themecolor icon-right-open-mini"></i> Features
                                        </li>
                                    </a>
                                    <a href="#">
                                        <li>
                                            <i class="themecolor icon-right-open-mini"></i> Buy/Sell Crypto
                                        </li>
                                    </a>
                                    <a href="#">
                                        <li>
                                            <i class="themecolor icon-right-open-mini"></i> Protect Now
                                        </li>
                                    </a>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="column one-fourth">
                        <aside class="widget_text widget widget_custom_html">
                            <h4>Our Affiliate links</h4>
                            <div class="textwidget custom-html-widget">
                                <hr class="no_line" style="margin:0 auto 10px">
                                <ul>
                                    <a href="#">
                                        <li>
                                            <i class="themecolor icon-right-open-mini"></i> Coinbase
                                        </li>
                                    </a>
                                    <a href="#">
                                        <li>
                                            <i class="themecolor icon-right-open-mini"></i> Binance
                                        </li>
                                    </a>
                                    <a href="#">
                                        <li>
                                            <i class="themecolor icon-right-open-mini"></i> Paxful
                                        </li>
                                    </a>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="column one-fourth">
                        <aside class="widget_text widget widget_custom_html">
                            <h4>Our mission</h4>
                            <div class="textwidget custom-html-widget">
                                <hr class="no_line" style="margin:0 auto 10px">
                                <p>
                                    Here at CryptoWalletProtection we pride ourselves on security, reliability and customer satisfaction.
                                </p>
                                <hr class="no_line" style="margin:0 auto 10px">
                                <a href="{% url 'feature' %}" class="themecolor">Read more</a>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <div class="footer_copy">
                <div class="container">
                    <div class="column one">
                        <a id="back_to_top" class="button button_js" href="#"><i class="icon-up-open-big"></i></a>
                        <div class="copyright">
                            &copy; 2021 Crypto Wallet Protect&#174;
                        </div>
                        <ul class="social">
                            <li class="googleplus">
                                <a href="#" title="Google+"><i class="icon-gplus"></i></a>
                            </li>
                            <li class="twitter">
                                <a href="#" title="Twitter"><i class="icon-twitter"></i></a>
                            </li>
                            <li class="vimeo">
                                <a href="#" title="Vimeo"><i class="icon-vimeo"></i></a>
                            </li>
                            <li class="youtube">
                                <a href="#" title="YouTube"><i class="icon-play"></i></a>
                            </li>
                            <li class="pinterest">
                                <a href="#" title="Pinterest"><i class="icon-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- side menu -->
    <div id="Side_slide" class="right dark" data-width="250">
        <div class="close-wrapper">
            <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
        </div>
        <div class="extras">
            <a href="{% url 'secure' %}" class="action_button" target="_blank">Protect now</a>
            <div class="extras-wrapper"></div>
        </div>
        <br>
        <br>
        <div class="menu_wrapper"></div>
        <ul class="social">
            <li class="googleplus">
                <a href="#" title="Google+"><i class="icon-gplus"></i></a>
            </li>
            <li class="twitter">
                <a href="#" title="Twitter"><i class="icon-twitter"></i></a>
            </li>
            <li class="vimeo">
                <a href="#" title="Vimeo"><i class="icon-vimeo"></i></a>
            </li>
            <li class="youtube">
                <a href="#" title="YouTube"><i class="icon-play"></i></a>
            </li>
            <li class="pinterest">
                <a href="#" title="Pinterest"><i class="icon-pinterest"></i></a>
            </li>
        </ul>
    </div>
    <div id="body_overlay"></div>


    <!-- JS -->
    <script src="../../js/jquery-2.1.4.min.js"></script>

    <script src="../../js/mfn.menu.js"></script>
    <script src="../../js/jquery.plugins.js"></script>
    <script src="../../js/jquery.jplayer.min.js"></script>
    <script src="../../js/animations/animations.js"></script>
    <script src="../../js/translate3d.js"></script>
    <script src="../../js/scripts.js"></script>


</body>

</html>